[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyyaml = "*"
paho-mqtt = "*"
sqlalchemy = "*"
mysqlclient = "*"
pytz = "*"

[requires]
python_version = "3.8"
