[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyyaml = "*"
paho-mqtt = "*"
sqlalchemy = "*"
mysql-connector-python = "*"
pytz = "*"
fastapi = {version = "*"}
uvicorn = "*"
python-multipart = "*"
passlib = {extras = ["bcrypt"],version = "*"}
pyjwt = "*"
pytest = "*"

[requires]
python_version = "3.8"
